if SHIELD_TOTEM_LEFT

config ZMK_KEYBOARD_NAME
    default "Totem"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT

config ZMK_SPLIT
    default y

config ZMK_SPLIT_BLE_PERIPHERAL_POSITION_QUEUE_SIZE
    default 20

endif
